body {
  font: 12px Arial;
}

.select-wrapper,
.select-window {
  width: 200px;
}

.select-wrapper select {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  width: 100%;
  
  cursor: pointer;
}

.select-window {
  -webkit-user-select:none;
  -moz-user-select:none;
  
  color: #555;
  text-shadow: 0 -1px 1px rgba(255,255,255,0.8);
  
  cursor: pointer;
  
  box-sizing: border-box;
  
  padding: 5px;
  
  border: 1px solid #ccc;
  border-radius: 2px;
  
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1),
              1px 1px 0 rgba(0,0,0,0.1);
  
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}